<!DOCTYPE html>
{% load static %}
<html>
<head>
	<title>UnisChat</title>
	<meta charset="UTF-8">
	<link rel="icon"
      type="image/png"
      href="https://img.icons8.com/fluent/48/000000/chat.png">
	<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
	<script src="https://code.iconify.design/1/1.0.6/iconify.min.js"></script>
	<script src="https://www.gstatic.com/firebasejs/3.7.4/firebase.js"></script>

	<link href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js" type="text/javascript"></script>
<link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">





</head>
<body style="overflow: hidden;">
	<div class="se-pre-con"><h1 data-text="It's loading…" id="startloader">It's loading…</h1></div>
<div class="row ">

	<div class="col-sm-1" style="background-color: #29242a; height: 100vh; padding: 0px;">


		<div style="width: 100%; height: 20vh; text-align: center;align-items: center; padding: 15%;">
			<img class="img-fluid" src="{% static 'assets/logolight.png' %}">

		</div>
		<div style="width: 100%; height: 60vh; text-align: center;align-items: center; padding: 12%;">
			<br>



						<span class="iconify text-muted align-middle " data-icon="ant-design:user-add-outlined"  data-inline="false" onclick="collapprofile()" style="height: 5vh; width: 40%; margin: 25%; cursor: pointer; " data-toggle="tooltip" data-placement="right" title="Add User or Search User"></span>
						<span class="iconify text-muted align-middle " data-icon="bx:bx-message-detail" data-inline="false" onclick="collapchats()" style="height: 5vh; width: 40%; margin: 25%; cursor: pointer;" data-toggle="tooltip" data-placement="right" title="Chats"></span>
						<span class="iconify text-muted align-middle " data-icon="fa-solid:user-friends" data-inline="false" onclick="collapcontacts()" style="height: 5vh; width: 40%; margin: 25%; cursor: pointer;" data-toggle="tooltip" data-placement="right" title="My Contacts"></span>
						<span class="iconify text-muted align-middle " data-icon="bx:bxs-user-circle" data-inline="false" onclick="collapaccount()" style="height: 5vh; width: 40%; margin: 25%; cursor: pointer;" data-toggle="tooltip" data-placement="right" title="My Account"></span>



		</div>
		<div style="width: 100%; height: 20vh; text-align: center;align-items: center; padding: 12%;">
			<span class="iconify text-light align-middle " data-icon="carbon:settings" data-inline="false" style="height: 5vh; width: 40%; cursor: pointer;" data-toggle="modal" data-target="#exampleModalCenter"></span>
		</div>







	</div>
	<div class="col-sm-3  " style="background-color: #2f2a30; height: 100vh; overflow-y: auto;" id="contactbox">
		<div class="collapse multi-collapse" id="multiCollapseExample1">
		<h2 class="text-light" style="margin-top: 3%;">Chats</h2><br>

		 <!-- Search -->
                                    <form class="mb-6">
                                        <div class="input-group">
                                            <input type="text" style="background-color: #2d3238; color: #889dad; border: none; " class="form-control form-control-lg " placeholder="Search for messages or users..." aria-label="Search for messages or users...">
                                            <div class="input-group-append">
                                                <button class="btn btn-lg btn-ico btn-secondary btn-minimal" type="submit" style="background-color: #2d3238; border: none;">
                                                    <span class="iconify" data-icon="fe-search" data-inline="false" ></span>
                                                </button>
                                            </div>
                                        </div>
                                    </form>
          <!-- Search -->


					<div id="multiCollapseExample1chat">

        	<!--chatlink was here-->
				</div>

								</div>




							<div class="collapse multi-collapse" id="multiCollapseExample2">
						      <!--add user or search-->
						      <h5 style="color: white; margin-top: 2%">Search a user</h5><br>
						      	<br>
						      <!-- Search -->

                                        <div class="input-group">
                                            <input type="text" style="background-color: #2d3238; color: #889dad; border: none; " class="form-control form-control-lg " placeholder="Search for messages or users..." aria-label="User name here" id="texttoaddfrnd">
                                            <div class="input-group-append">
                                                <button class="btn btn-lg btn-ico btn-secondary btn-minimal"  style="background-color: #2d3238; border: none;" onclick="btntoaddfrnd()">
                                                    <span class="iconify" data-icon="fe-search" data-inline="false" ></span>
                                                </button>
                                            </div>
                                        </div>

         						 <!-- Search -->

         						 	<br>



											<div class="container-fluid" style="width: 100%; height: auto; align-items: center;text-align: center;" id="addfrndresult">
 											<!--middle-->


 												<!--cards-->
 												<div class="card mb-6 " style="background-color: #29242a;">
 							                                        <div class="card-body " style="background-color: #29242a; padding: 0px;">
 							                                            	<img src="" id="chatinsideimagecoveruser">
 																			<br><br>
 																			<h3 style="color: white;" id="searchresname">Tacaz</h3>
 																			<h6 class="text text-muted" style="" id="searchresstatus">I am gonna save the world!</h6>
 							                                          </div>
 							                       </div>
 							                      <!--cards-->

 												<!--cards-->
 												<div class="card mb-6 " style="background-color: #29242a;">
 							                                        <div class="card-body " style="background-color: #29242a; padding: 0px;">
 							                                            <ul class="list-group list-group-flush "  style="background-color: #29242a;">
 							                                                <li class="list-group-item px-0 py-6" style="background-color: #29242a;">
 							                                                    <div class="media align-items-center" style="background-color: #29242a;">
 							                                                        <div class="media-body shadow p-3" style=" text-align: left;">
 							                                                            <p class="small text-muted mb-0">User Name</p>
 							                                                            <p class="text text-muted" id="searchresuname">Iron667</p>
 							                                                        </div>
 							                                                       <span class="iconify text-muted" data-icon="bx:bxs-user-circle" data-inline="false"  style="margin-right: 3%;"></span>
 							                                                    </div>
 							                                                </li>
 							                                              </ul>
 							                                             </div>
 							                       </div>
 							                      <!--cards--><br>
 							                      <button type="button" class="btn btn-success align-self-center" onclick="addfrndfromsearchres()">Add Friend</button>
 							          </div>





						      	<!--add user or search-->
										<!--storing logged user id-->
										<input type="text" name=""  value="{{idd}}" id="adminusername" style="visibility:hidden;height : 0px; width : 0px;">
										<input type="text" name=""  value="{{idd}}" id="hiddenresid" style="visibility:hidden;height : 0px; width : 0px;">

										<!--storing logged user id-->



						    </div>



						    <div class="collapse multi-collapse" id="multiCollapseExample3">

						       <h5 style="color: white; margin-top: 2%">My Account</h5><br>

						       		<div class="container-fluid" style="width: 100%; height: auto; align-items: center;text-align: center;">
											<!--middle-->


												<!--cards-->
												<div class="card mb-6 " style="background-color: #29242a;">
							                                        <div class="card-body " style="background-color: #29242a; padding: 0px;">
							                                            	<img src="{{img}}" id="chatinsideimagecoveruser2" class="tyb">
																			<br><br>
																			<h3 style="color: white;" id="notaname">{{name}}</h3>
																			<h6 class="text text-muted" style="">{{status}}</h6>
							                                          </div>
							                       </div>
							                      <!--cards-->

												<!--cards-->
												<div class="card mb-6 " style="background-color: #29242a;">
							                                        <div class="card-body " style="background-color: #29242a; padding: 0px;">
							                                            <ul class="list-group list-group-flush "  style="background-color: #29242a;">
							                                                <li class="list-group-item px-0 py-6" style="background-color: #29242a;">
							                                                    <div class="media align-items-center" style="background-color: #29242a;">
							                                                        <div class="media-body shadow p-3" style=" text-align: left;">
							                                                            <p class="small text-muted mb-0">User Name</p>
							                                                            <p class="text text-muted">{{uname}}</p>
							                                                        </div>
							                                                       <span class="iconify text-muted" data-icon="bx:bxs-user-circle" data-inline="false"  style="margin-right: 3%;"></span>
							                                                    </div>
							                                                </li>
							                                              </ul>
							                                             </div>
							                       </div>
							                      <!--cards-->


												<!--cards-->
												<div class="card mb-6 " style="background-color: #29242a;">
							                                        <div class="card-body " style="background-color: #29242a; padding: 0px;">
							                                            <ul class="list-group list-group-flush "  style="background-color: #29242a;">
							                                                <li class="list-group-item px-0 py-6" style="background-color: #29242a;">
							                                                    <div class="media align-items-center" style="background-color: #29242a;">
							                                                        <div class="media-body shadow p-3" style=" text-align: left;">
							                                                            <p class="small text-muted mb-0">Email</p>
							                                                            <p class="text text-muted">{{email}}</p>
							                                                        </div>
							                                                       <span class="iconify text-muted" data-icon="ic:baseline-alternate-email" data-inline="false"  style="margin-right: 3%;"></span>
							                                                    </div>
							                                                </li>
							                                              </ul>
							                                             </div>
							                       </div>
							                      <!--cards-->

							                      <!--cards-->
												<div class="card mb-6 " style="background-color: #29242a;">
							                                        <div class="card-body " style="background-color: #29242a; padding: 0px;">
							                                            <ul class="list-group list-group-flush "  style="background-color: #29242a;">
							                                                <li class="list-group-item px-0 py-6" style="background-color: #29242a;">
							                                                    <div class="media align-items-center" style="background-color: #29242a;">
							                                                        <div class="media-body shadow p-3" style=" text-align: left;">
							                                                            <p class="small text-muted mb-0">Date Joined</p>
							                                                            <p class="text text-muted">{{date}}</p>
							                                                        </div>
							                                                       <span class="iconify text-muted" data-icon="clarity:date-solid" data-inline="false"  style="margin-right: 3%;"></span>
							                                                    </div>
							                                                </li>
							                                              </ul>
							                                             </div>
							                       </div>
							                      <!--cards--><br>
																		<a href="{% url 'accounts:logout' %}"><button type="button" class="btn btn-danger align-self-center"  onclick='updatecurrentuseronlinestatus("no")'>Logout</button></a> <br>


										</div>

						    </div>


						<div class="collapse multi-collapse" id="multiCollapseExample4">
							<h5 style='color: white; margin-top: 2%'>Friends</h5><br>
							<!--mycontacts-->
						<!--frnd was here-->

							<!--mycontacts-->
						</div>


	</div>
	<div class="col-sm-8" style="background-color: #29242a; height: 100vh; padding: 0px; " id="middiv">
		<div class="collapse multi-collapse" id="maincollapse">
		<div class="container-fluid " style="width: 100%; height: 9vh;  border: solid; border-color: #2f2a30; border-top-style: none; border-left-style: none; border-right-style: none; padding: 1%; ">
			<!--chat header-->




                                                    <div class="media">


                                                            <img src="https://www.pixelstalk.net/wp-content/uploads/2016/03/Download-free-Deadpool-Wallpaper-HD.jpg" alt="..." class=" " id="contactimgheader" style="border: none; object-fit: cover;">


																															 <span class='badge badge-pill badge-success text-success' id="chatheaderonlinebubble" style='position: absolute; visibility: hidden; font-size: 50%;'>.</span>

                                                        <div class="media-body overflow-hidden">
                                                            <div class="d-flex align-items-center mb-1">
                                                                <h6 class="text-truncate mb-0 mr-auto text-light" id="chatheadername">Anna Bridges <span style="color: green; font-size: 20px;">.</span></h6>

                                                            </div>
                                                            <div class="text-truncate text-muted" id="chatheaderstatus">Status</div>
                                                        </div>
																													<span class="iconify  align-middle" id="delchaticon" onclick="deletewholechatsbyids()" data-icon="mdi:delete-alert" data-inline="false" style="float: right;height:29px; width:29px;margin-right: 3%;margin-top:1%;cursor:pointer;color:white;" data-toggle="tooltip" data-placement="left" title="Delete Chat"></span>
                                                    </div>





			<!--chat header ends-->
		</div>


			<div  style="height: 80vh;  width: 100%; overflow-y: auto; padding-left: 2%; padding-right: 2%; padding-bottom: 2%;" id="chatwindow"">


			<!--messages were here-->





			</div>


			<div class="container-fluid" style="width: 100%;  border: solid; border-color: #2f2a30; border-bottom-style: none; border-left-style: none; border-right-style: none;position:absolute;bottom:0px; background-color: #29242a;" id="chatcompose">




				<!-- Chat: Footer -->
                        <div class="chat-footer border-top py-4 py-lg-6 px-lg-8">
                            <div class="container-xxl">
																		<div class="collapse in multi-collapse " id="textmsgcollapsebottom">
                                <form id="chat-id-2-form"  data-emoji-form="">
                                    <div class="form-row align-items-center">
                                        <div class="col">
                                            <div class="input-group">

                                                <!-- Textarea -->
                                                <textarea  onkeydown="resizeDivs()" id="chat" class="form-control bg-transparent border-0" placeholder="Type your message..." rows="1" data-emoji-input="" data-autosize="true" style="position:relative;bottom:0px; border-color: transparent; color: #8fa8b1;  "></textarea>

                                                <!-- Emoji button -->
                                                <div class="input-group-append">
                                                    <button class="btn btn-ico btn-secondary btn-minimal bg-transparent border-0" type="button" data-emoji-btn="">
                                                        <img src="{% static 'assets/smile.svg' %}" data-inject-svg="" alt="" style="color: red;">
                                                    </button>
                                                </div>

                                                <!-- Upload button -->
                                                <div class="input-group-append">
                                                    <button id="chat-upload-btn-2" class="btn btn-ico btn-secondary btn-minimal bg-transparent border-0 dropzone-button-js" type="button">
                                                        <img src="{% static 'assets/paperclip.svg' %}" data-inject-svg="" alt="" onclick="showimageinputdiv()">
                                                    </button>
                                                </div>

                                            </div>

                                        </div>

                                        <!-- Submit button -->
                                        <div class="col-auto">
                                            <button class="btn btn-ico btn-primary rounded-circle" type="submit" id="sendchat">
                                                <span class="iconify" data-icon="cil:send" data-inline="false"></span>
                                            </button>
                                        </div>

                                    </div>

                                </form>
																		</div>
																		<div class="collapse multi-collapse" id="imgmsgcollapsebottom">
																			<div class="loader" style="width: 100%; margin-top:0px; margin-bottom:2%; visibility: hidden;"  id="loaderforimg">
																			  <div class="loaderBar" style="width: 100%; margin-top : 0px;"></div>
																			</div>
																			<span class="iconify" data-icon="emojione:cross-mark-button" data-inline="false" onclick="hideimagebottomdiv1()" style="float:right; position: relative; margin-right: 5%;cursor: pointer; width: 44px; height: 44px; "></span>
																			<!--form for image-->
																			<form action="" method="post" enctype="multipart/form-data" id="imgform">{% csrf_token %}

																									<img src="https://i2.wp.com/gamingonphone.com/wp-content/uploads/2020/04/pubbg-mobile-season-13-rp.jpg" id="sampleimageupload">
																										<input id="id_image" type="file" class="" name="image" accept="image/*" style="visibility:hidden;">

																								<button class="btn btn-ico btn-primary rounded-circle" type="submit" id="submitformforimage">
		                                                <span class="iconify" data-icon="cil:send" data-inline="false"  ></span>
		                                            </button>
																							</form>
																			<!--form for image ends-->

																		</div>

                            </div>
                        </div>
                        <!-- Chat: Footer -->
			</div>
</div>






<div class="collapse multi-collapse" id="startcollapse" style="height: 100vh;  width: 100%; align-items: center; vertical-align:middle;">
	<div class="container-fluid" style="height: 100vh; width: 100%; align-items : center; text-align: center; vertical-align:middle;">
										<div class="container" style="margin-top: 20%; height: 40vh; width: 50%; ">
											<img src="https://i.ytimg.com/vi/ttVoVr2F75k/maxresdefault.jpg" class="img-fluid" style="border-radius:50%; height: 20vh; width: 30%;" id="startimage">
											<br><br>
												<h4 class="align-middle text-light" id="notaname2" >hi</h4>
												<h5 class="align-middle text-muted">Select any chat to start convo!</h5>
										</div>

	</div>
</div>

</div>







<!--sidecontact menu-->
	<div class="col-sm-0" style=" height: 100vh; background-color: #29242a; padding: 0px; border: solid; border-color: #2f2a30; border-top-style: none; border-bottom-style: none; border-right-style: none; " id="sidediv">
			<div class="container-fluid " style="width: 100%; height: 9vh;  border: solid; border-color: #2f2a30; border-top-style: none; border-left-style: none; border-right-style: none; padding: 1%; ">

                   <!--top-->
                   <span class="iconify text-muted" data-icon="icomoon-free:cross" data-inline="false" onclick="expandside()" style="margin: 5%; cursor: pointer;"></span>
			</div>
			<div class="container-fluid" style="width: 100%; height: auto; align-items: center;text-align: center;">
				<!--middle-->
				<input type="text" name="" value="0" id="sidemenuopen" style="visibility: hidden;">
				<img src="https://cdna.artstation.com/p/assets/images/images/017/955/070/4k/jackson-caspersz-ironman-snap.jpg" id="chatinsideimagecover">
				<br>
				<h3 style="color: white;" id="clkonuserid">Iron Man</h3>
				<h6 class="text text-muted" style="" id="clkonuserstatus">I am gonna save the world!</h6>


					<!--cards-->
					<div class="card mb-6 " style="background-color: #29242a;">
                                        <div class="card-body " style="background-color: #29242a; padding: 0px;">
                                            <ul class="list-group list-group-flush "  style="background-color: #29242a;">
                                                <li class="list-group-item px-0 py-6" style="background-color: #29242a;">
                                                    <div class="media align-items-center" style="background-color: #29242a;">
                                                        <div class="media-body shadow p-3" style=" text-align: left;">
                                                            <p class="small text-muted mb-0">User Name</p>
                                                            <p class="text text-muted" id="clkonuserusername">Iron667</p>
                                                        </div>
                                                       <span class="iconify text-muted" data-icon="bx:bxs-user-circle" data-inline="false"  style="margin-right: 3%;"></span>
                                                    </div>
                                                </li>
                                              </ul>
                                             </div>
                       </div>
                      <!--cards-->


					<!--cards-->
					<div class="card mb-6 " style="background-color: #29242a;">
                                        <div class="card-body " style="background-color: #29242a; padding: 0px;">
                                            <ul class="list-group list-group-flush "  style="background-color: #29242a;">
                                                <li class="list-group-item px-0 py-6" style="background-color: #29242a;">
                                                    <div class="media align-items-center" style="background-color: #29242a;">
                                                        <div class="media-body shadow p-3" style=" text-align: left;">
                                                            <p class="small text-muted mb-0">Email</p>
                                                            <p class="text text-muted" id="clkonuseremail">IamIronman@gmail.com</p>
                                                        </div>
                                                       <span class="iconify text-muted" data-icon="ic:baseline-alternate-email" data-inline="false"  style="margin-right: 3%;"></span>
                                                    </div>
                                                </li>
                                              </ul>
                                             </div>
                       </div>
                      <!--cards-->

                      <!--cards-->
					<div class="card mb-6 " style="background-color: #29242a;">
                                        <div class="card-body " style="background-color: #29242a; padding: 0px;">
                                            <ul class="list-group list-group-flush "  style="background-color: #29242a;">
                                                <li class="list-group-item px-0 py-6" style="background-color: #29242a;">
                                                    <div class="media align-items-center" style="background-color: #29242a;">
                                                        <div class="media-body shadow p-3" style=" text-align: left;">
                                                            <p class="small text-muted mb-0">Date Joined</p>
                                                            <p class="text text-muted" id="clkonuserdate">6/12/2019</p>
                                                        </div>
                                                       <span class="iconify text-muted" data-icon="clarity:date-solid" data-inline="false"  style="margin-right: 3%;"></span>
                                                    </div>
                                                </li>
                                              </ul>
                                             </div>
                       </div>
                      <!--cards-->


			</div>




	</div>

<!--sidecontact menu ends-->


</div>




<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" data-backdrop="static">
<div class="modal-dialog modal-dialog-centered" role="document">
<div class="modal-content" style="background-color:#2f2a30;">
<div class="modal-header" style="background-color:#2f2a30;">
<h5 class="modal-title text-light" id="exampleModalLongTitle" >Settings</h5>
<button type="button" class="close" data-dismiss="modal" aria-label="Close">
<span aria-hidden="true">&times;</span>
</button>
</div>
<div class="modal-body" style="background-color:#29242a;">
<h5 class="text-light">Logged in as {{name}}</h5><a href="{% url 'accounts:logout' %}"><button type="button" class="btn btn-danger align-self-center"  onclick='updatecurrentuseronlinestatus("no")'>Logout</button></a> <br> <hr>





<!--accordian-->

<div class="accordion" id="accordionExample">
  <div class="card">
    <div class="card-header bg-dark" id="headingOne">
      <h2 class="mb-0">
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Account Settings.
        </button>
      </h2>
    </div>

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body bg-dark">
				<table class="table table-dark">
				  <tbody>
				    <tr>
				    <td>Name :</td>
				      <td><input type="text" placeholder="{{name}}" > </td>

				    </tr>
				    <tr>

				      <td>Status :</td>
				      <td>Thornton</td>

				    </tr>
				    <tr>

				      <td>Display Pic :</td>
				      <td>the Bird</td>

				    </tr>
						<tr>

				      <td>Password :</td>
				      <td>the Bird</td>

				    </tr>

				  </tbody>
				</table><button type="button" class="btn btn-success">Save</button><button type="button" class="btn btn-secondary ml-2">Discard</button>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          General Settings.
        </button>
      </h2>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
      <div class="card-body bg-dark">

				<table class="table table-dark">
					<tr>
						<td>New Message Sounds : </td>
						<td><input id="chkToggle1" type="checkbox" data-toggle="toggle" checked></td>
					</tr>
					<tr>
						<td>In chat Sounds : </td>
						<td><input id="chkToggle2" type="checkbox" data-toggle="toggle" checked></td>
					</tr>
				</table>
				<small class="text-light">This settings will change if you open incognito mode or change browser.</small>
      </div>
    </div>
  </div>

  </div>
</div>
<!--accordian-->




</div>

</div>
</div>
</div>











<!--offlinediv-->


<div class="modal fade" id="offlinemodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header bg-dark">
        <h5 class="modal-title text-light" id="exampleModalLongTitle">OOPS!</h5>
      </div>
      <div class="modal-body bg-dark" style="text-align: center; font-weight: bold;  font-size: 120%;">

  <p id="erroroffline">E<span>r</span>ror</p>
  <p id="codeoffline">5<span>0</span><span>2</span></p>
	<p class="text-light">Trying to Reconnect to Unis Server.</p>
      </div>

    </div>
  </div>
</div>

<!--offlinedivends-->



<!--audio for msg-->
<audio id="myAudio1">
  <source src="{% static 'assets/newchat.mp3' %}" type="audio/mpeg">
</audio>
<audio id="myAudio2">
  <source src="{% static 'assets/inchatmyside.mp3' %}" type="audio/mpeg">
</audio>
<audio id="myAudio3">
  <source src="{% static 'assets/inchatotherside.mp3' %}" type="audio/mpeg">
</audio>

<!--audio ends-->

</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
<script src="https://rawgit.com/jackmoore/autosize/master/dist/autosize.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<script  src="{% static 'myscript.js' %}"></script>
<script  src="{% static 'firebasescript.js' %}"></script>
<link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js"></script>


</html>
